.Body {

    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 水平居中 */
    justify-content: flex-start;
    /* 垂直方向靠上对齐 */
    background-color: #1e8a73;
    min-height: calc(100vh - 80px);
    /* 减去导航栏高度 */
    box-sizing: border-box;
    background-color: transparent;
    /* 或 rgba(255,255,255,0.0) */
    min-height: calc(100vh - 80px);
    box-sizing: border-box;

}