.about {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;     /* 水平居中 */
  justify-content: flex-start; /* 垂直方向靠上对齐 */
  min-height: calc(100vh - 80px); /* 减去导航栏高度 */
  box-sizing: border-box;
}



.pageTitle {
  font-size: 3rem;
  font-weight: 600;
  color: #111827;
  margin-bottom: 2rem;
  justify-content: center;
  display: flex;
}

.aboutText {
  font-size: 1.2rem;
  line-height: 1.7;
  color: #4b5563;
  margin-bottom: 2rem;
  text-align: center;
}