:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: transparent;
}

body {
  margin: 0;
  padding: 2rem;
  min-height: 100vh;
  box-sizing: border-box;
  background: url('/images/bg2.jpg') center/cover no-repeat fixed;
  padding-top: 80px;
}

